{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block body -%}

    <div class="un">
        <!-- Table goes in the document BODY -->
        <table class="hovertable">
            <tr>
                <th style="background: darkgray;">Browser</th>
                <th style="background: darkgray;">Version</th>
            </tr>
            </tr>
            <tbody>
            {% for entity in entities %}
                <tr onmouseover="this.style.backgroundColor=' lightgrey';"
                    onmouseout="this.style.backgroundColor='white';">
                    <td>{{ entity.navigateur }}</td>
                    <td>{{ entity.version }}

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="cinq">
            <div id="container" style="width: 800px; height: 400px; top:400px;  "></div>
        </div>
    </div>


{% endblock %}
